.list {
    list-style: none;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 0;
}

.levels-container {
    padding: 32px;
    background: #FFF;
    min-width: 168px;
}

.title {
    margin: 0;
    font-weight: 600;
    line-height: 24px;
}

.list > .list-item {
    margin: 16px 0 0 0;
}

.link {
    text-decoration: none;
    color: #000;
}

.link:hover {
    color: #FF337A;
}