.container {
  padding: 32px 15% 0 15%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.center-container {
  width: 564px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  align-self: center;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.d-flex-align-start {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-end {
  display: flex;
  justify-content: end;
}

.d-flex-start {
  display: flex;
  justify-content: start;
}

.d-flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

.d-flex-end-center {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.title {
  margin-top: 0;
  font-weight: 600;
}

.text-decoration-none {
  text-decoration: none;
  color: #000;
}

.content-container {
  margin-left: 32px;
  padding: 32px;
  background: #FFF;
  width: 100%;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.button-primary {
  color:#fff;
  font-size: 16px;
  border: none;
  text-decoration: none;
  background: #FF337A;
  border-radius: 8px;
  padding: 10px 24px;
  cursor: pointer;
}

.button-primary:hover {
  background: #F50056;
}

.button-secondary {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  background: #FFF;
  padding: 9px 24px;
  border-radius: 8px;
  border: 1px solid #CCC;
  cursor: pointer;
}

.button-secondary:hover {
  border: 1px solid #808080;
}

.input-field {
  display: flex;
  flex-basis: 100%;
  border-radius: 8px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 10px 24px 10px 16px;
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
}

.text-area-field {
  font-family: 'Segoe UI', sans-serif;
  resize: none;
}

.input-field:focus {
  outline: none;
  border: 1px solid #808080;
}

.input-field::placeholder {
  color: #CCCCCC;
}

.icon-button {
  width: 24px;
  height: 24px;
  padding: 6px;
  cursor: pointer;
}

.icon-button:hover {
  background: #ffffff;
  border-radius: 100%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04));
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 0;
}

.side-list-title {
  margin: 0;
  font-weight: 600;
}

.side-container {
  padding: 32px;
  background: #FFF;
  min-width: 248px;
  max-width: 248px;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #FF337A;
}

.no-word-wrap {
  white-space: nowrap;
}

.numbered-list {
  padding-left: 16px;
  margin-bottom: 0;
}

.numbered-list > .list-item {
  margin-top: 8px;
}

.text-small {
  font-size: 16px;
}

.text-medium {
  font-size: 18px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.height-100 {
  height: 100%;
}

.error {
  color: #F50056;
}

.required:after {
  content: "*";
  color: #F50056;
}

h4 {
  font-weight: 600;
  font-size: 16px;
}

.text-color-green {
  color: #4CAF50;
}

.text-bold {
  font-weight: 600;
}

.table {
  width: 100%;
  border:1px solid #EAEAEA;
  border-collapse: collapse;
}

.table th, td {
  border:1px solid #EAEAEA;
  border-collapse: collapse;
  padding: 10px 16px;
  width: auto;
}

.table th {
  font-weight: 600;
}

.width-100 {
  width: 100%;
}
